<ion-header>
  <ion-toolbar>
    <ion-title>Búsqueda</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>

    <ion-input
      [(ngModel)]="lastName"
      placeholder="Introduce los apellidos"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>

    <ion-input
      [(ngModel)]="firstName"
      placeholder="Introduce el nombre"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Género</ion-label>

    <ion-input
      [(ngModel)]="gender"
      placeholder="Introduce el género(Male/Female)"
    ></ion-input>
  </ion-item>
  <ion-button expand="block" class="search-button" (click)="search()"
    >Buscar</ion-button
  >
</ion-content>
