<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Iniciar Sesión' : 'Registrarse' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input [(ngModel)]="email" placeholder="Correo"></ion-input>
  <ion-input [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>

  <ion-button expand="full" (click)="authenticate()">
    {{ isLogin ? 'Iniciar Sesión' : 'Registrarse' }}
  </ion-button>

  <ion-button fill="clear" (click)="toggleAuthMode()">
    {{ isLogin ? '¿No tienes cuenta? Regístrate' : '¿Ya tienes cuenta? Inicia sesión' }}
  </ion-button>
</ion-content>
